<div class="vertical-container">
	{% include profile.html %}
	{% include searchBar.html %}
	<div class="recent-page-text"><i class="fa-solid fa-newspaper"></i> Recent wiki pages </div>
	<div class="wikis-container">
		<ul class="card-list">
		{% for wiki in site.mywikis %}
			<li>
				<a class="card" href={{ wiki.url }}>
					<h2 class="card-title">{{ wiki.title }}</h2>
					<p class="card-date">{{ wiki.date }}</p>
					<p class="card-summary">{{ wiki.excerpt | strip_html | truncate: 60, "..."}}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
