<div class="vertical-container">
	{% include profile.html %}
	{% include searchBar.html %}
	<div class="recent-page-text"><i class="fa-solid fa-newspaper"></i> Recent wiki pages </div>
	<div class="wikis-container">
		<ul class="card-list">
		{% assign sorted_wiki = site.mywikis | sort: 'date' | reverse%}
		{% for wiki in sorted_wiki %}
			<li class="no-list-style">
				<a class="card" href={{ wiki.url }}>
						<div class="card-title">{{ wiki.title }}</div>
						<div class="card-date">{{ wiki.date | date: "%b %-d, %Y" }}</div>
						<div class="card-summary">{{ wiki.excerpt | strip_html | truncate: 100, "..."}}</div>
						{% if wiki.tags.size != 0 %}
							<div class="tag-badge-container">
							{% for tag in wiki.tags %}
							<div class="tag-badge">{{ tag }}</div>
							{% endfor %}
							</div>
						{% endif %}
				</a>
			</li>
		{% endfor %}

		<div id="results-container">

		</div>
		</ul>
	</div>
</div>
