
<div class="vertical-flex">
	<div class="profile-text"><i class="fa-solid fa-user profile-icon"></i> Profile</div>
	<div class="profile-container">
		<img src="https://cdn.pixabay.com/photo/2024/03/04/16/07/winter-8612635_1280.jpg" class="profile-img"></img>
		<div class="profile-description-container">
			<div class="username">{{ site.username }}</div>
			<div class="user-role">{{ site.user_role }}</div>
			<div class="profile-message">hi i'm soyun</div>
			<div class="contact-container">
				<i class="fa-brands fa-github brand-icon"></i>
				<i class="fa-brands fa-square-instagram brand-icon"></i>
			</div>
		</div>
	</div>
</div>
