@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/assets/font/SpoqaHanSansNeo-Bold.ttf');
	font-weight: 900;
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/assets/font/SpoqaHanSansNeo-Medium.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/assets/font/SpoqaHanSansNeo-Regular.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';
	src: url('/assets/font/SpoqaHanSansNeo-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/font/Inter-Black.ttf');
	font-weight: 900;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/font/Inter-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/font/Inter-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/font/Inter-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('/assets/font/Inter-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'code-monospace';
	src: url('/assets/font/Hack-Regular.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'code-monospace';
	src: url('/assets/font/Hack-Italic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'code-monospace';
	src: url('/assets/font/Hack-Bold.ttf');
	font-weight: 700;
}
