
.flex-horizon-container{
    display: flex;
    flex-direction: row;
}

.flex-vertical-container{
    display: flex;
    flex-direction: column;
}

.flex-basis-container{
    flex-basis: 896px;
}

.flex-basis-card{
    flex-basis: 262px;
}

.position-center{
    justify-content: center;
}

.total-background-color{
    background-color: #292A2D;
}

.card-background-color{
    background-color: #35363A;
}

.radius-corner{
    border-radius: 10px;
}