.flex-center{
    margin: 0 auto;
}

.flex-vertical-container{
    display: flex;
    flex-direction: column;
}

.narrow-container{
    display: flex;
    flex-basis: 800px;
    background-color: red;
}

.color-green{
    background-color: green;
}