
.flex-horizon-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.flex-vertical-container{
    display: flex;
    flex-direction: column;
}

.flex-basis-container{
    flex-basis: 896px;
}

.flex-basis-card{
    flex-basis: 262px;
}

.position-center{
    justify-content: center;
}

.total-background-color{
    background-color: #292A2D;
}

.card-background-color{
    background-color: #35363A;
}

.radius-corner{
    border-radius: 10px;
}

.shadow{
    box-shadow: 0 2px 4px #292A2D;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-rl-20{
    margin: 0 20px;
}

.padding-all-10{
    padding: 10px;
}

.padding-all-20{
    padding: 20px;
}

.card-title-text{
    margin-block: 0;
}

.card-title{
    margin-bottom: 7px;
}