.header-container {
	display: flex;
	padding: 0.6rem 1.2rem;
	align-items: flex-end;
}

.wiki-name {
	margin: 0;	
	font-weight: 700;
	font-family: Inter;
	font-size: 1.5rem;
}

.index-text {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 700;
	transition: opacity 100ms;
}

.index-text:hover {
	opacity: 0.8;
}

.about-text {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 700;
	transition: opacity 100ms;
}

.about-text:hover {
	opacity: 0.8;	
}

.navi-container {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 0.6rem;	
}

.light-mode {
	margin-top: 0.1rem;
	font-size: 1.2rem;
	cursor: pointer;
	transition: transform 500ms, opacity 500ms;
}

.light-mode:hover {
	transform: rotate(20deg);
	opacity: 0.8;
}

.header-line {
	margin: 0;
	border: none;
	border-top: 1px solid var(--font-color);
	opacity: 0.1
}
