.header-container {
	display: flex;
	padding: 0.5rem;
}

.wiki-name {
	margin: 0;	
	font-weight: 700;
	font-family: Inter;
	font-size: 2rem;
}

.index-text {
	margin: 0;
	font-size: 1.3rem;
}

.about-text {
	margin: 0;
	font-size: 1.3rem;
}

.navi-container {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 1rem;	
}

.light-mode {
	font-size: 1rem;
}

