.vertical-container {
	display: flex;
	flex-direction: column;
}

.recent-page-text {
	font-weight: 700;
	font-size: 1.25rem;
	margin: 1rem 0.2rem 0.5rem 0.2rem;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--background-secondary);
	padding: 30px;
	border-radius: 30px;
	transition: background-color 300ms, border-radius 700ms;
}

.card:hover {
	background-color: var(--background-hover);	
	border-radius: 15px;
}

.card-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 20px;
}

.card-title {
	margin: 0;
}

.card-date {
	margin: 0 0 0 auto;
}

.card-summary {
	margin: 0;
}
