.no-list-style {	
	list-style-type: none;
}

.vertical-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 45rem;
	margin: 0 auto 1rem auto;
}

.recent-page-text {
	font-weight: 700;
	font-size: 1.1rem;
	margin: 1rem 0.2rem 0.5rem 0.2rem;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--background-secondary);
	border-radius: 2rem;
	transition: background-color 300ms, border-radius 700ms;
	padding: 1.9rem;
}

.card:hover {
	background-color: var(--background-hover);	
	border-radius: 15px;
}

.card-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 1.2rem;
}

.card-title {
	font-weight: 700;
	font-size: 1.4rem;
	margin-bottom: 0.6rem;
}

.card-date {
	font-size: 0.9rem;
	margin: 0 0 0.5rem 0;
	color: var(--font-color-gray);
}

.card-summary {
	font-size: 0.95rem;
}

.tag-badge-container {
	display: flex;
	gap: 0.5rem;
}

.tag-badge {
	background-color: var(--badge-background-color);
	color: var(--badge-font-color);
	border-radius: 0.7rem;
	padding: 0.3rem 0.4rem;
	font-size: 0.85rem;
	font-weight: 700;
	margin-top: 0.6rem;
	line-height: 1rem;
}

.tag-badge:hover {
	background-color: var(--badge-background-hover);
}
