.vertical-container {
	display: flex;
	flex-direction: column;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--background-gray);
	padding: 30px;
	border-radius: 10px;
	transition: background-color 300ms, border-radius 700ms;
}

.card:hover {
	background-color: var(--background-hover);	
	border-radius: 30px;
}

.card-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 20px;
}

.card-title {
	margin: 0;
}

.card-date {
	margin: 0 0 0 auto;
}

.card-summary {
	margin: 0;
}
