body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #292A2D;
    font-family: "noto";
}

a{
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: green;
}

img{
    width: 100%;
    border-radius: 10px;
}

@font-face {
    font-family: robo;
    src: url(/assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: noto;
    src: url(/assets/font/NotoSansKR-Regular.otf);
}