.page-container p {
	margin: 0.4rem 0;
}

.highlight pre {
	overflow-x: auto;
	background-color: var(--code-background-color);
	padding: 1.3rem;
	border: 1px solid var(--code-border-color);	
	border-radius: 1rem;
	font-family: code-monospace;
	font-size: 0.9rem;
	line-height: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.language-plaintext {
	font-family: code-monospace;
	font-size: 0.9rem;
	color: var(--plaincode-font-color);
	background-color: var(--plaincode-background-color);
	border-radius: 0.2rem;
	padding: 0.15rem 0.3rem;
}

.page-container code {
	font-family: code-monospace;
}

.page-container blockquote {
	margin: 1rem 0;
	padding: 0 1rem;
	background-color: var(--code-background-color);
	border: 1px solid var(--code-border-color);
	border-bottom: 1px;
	border-top: 1px;
	border-left: 0.3rem solid var(--quote-left-border-color);
	border-radius: 0 0.5rem 0.5rem 0;
}

.page-container table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
	margin: 0.4rem 0;
}

.page-container table th,
.page-container table td {
  padding: 0.4rem 0.7rem;
  border: 1px solid var(--table-border-color);
}

.page-container a {
	color: var(--a-tag-color);
	font-weight: 700;
}

.page-container a:hover{
	text-decoration: underline;
}

.page-container h1,
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5,
.page-container h6 {
	font-weight: 800;
	position: relative;
	margin-bottom: 0.5rem;
	margin-top: 1.2rem;
}

.page-container ul,
.page-container ol {
	padding-left: 1rem;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.page-container h1 {
	font-size: 1.6rem;
}

.page-container h2 {
	font-size: 1.4rem;
}

.page-container h3 {
	font-size: 1.2rem;
}

.page-container h4 {
	font-size: 1.1rem;
}

.page-container h5 {
	font-size: 1.0rem;
}

.page-container h6 {
	font-size: 0.9rem;
}

.task-list {
	list-style: none;
}

.anchor {
	position: absolute;
	left: -1.6rem;
	top: 0;
	padding-right: 0.5rem;
	font-size: 1.2rem;
	color: var(--anchor-color);
	opacity: 0;
}

.anchor:hover {
	opacity: 1;
}

.anchor-hover {
	opacity: 1;
}
