p {
	margin: 0.4rem 0;
}

.highlight pre {
	overflow-x: auto;
	background-color: var(--code-background-color);
	padding: 1.3rem;
	border: 1px solid var(--code-border-color);	
	border-radius: 1rem;
	font-family: code-monospace;
	font-size: 0.9rem;
	line-height: 1rem;
}

code {
	font-family: code-monospace;
}

.page-container h1,
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5,
.page-container h6 {
	font-weight: 800;
	position: relative;
}

.page-container ul,
.page-container ol {
	padding-left: 1rem;
}

.page-container h1 {
	font-size: 1.6rem;
}

.page-container h2 {
	font-size: 1.4rem;
}

.page-container h3 {
	font-size: 1.2rem;
}

.page-container h4 {
	font-size: 1.1rem;
}

.page-container h5 {
	font-size: 1.0rem;
}

.page-container h6 {
	font-size: 0.9rem;
}

.task-list {
	list-style: none;
}

.anchor {
	position: absolute;
	left: -1.6rem;
	top: 0;
	padding-right: 0.5rem;
	font-size: 1.2rem;
	color: var(--anchor-color);
	opacity: 0;
}

.anchor:hover {
	opacity: 1;
}

.anchor-hover {
	opacity: 1;
}
