.vertical-flex {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.profile-text {
	font-weight: 700;
	font-size: 1.1rem;
	margin: 2rem 0.2rem 0.5rem 0.2rem;
}

.profile-container {
	display: flex;
	background-color: transparent;

	overflow: hidden;
	gap: 0.5rem;
}

.profile-img {
	object-fit: cover;
	border-radius: 1.5rem;
	width: 7.4rem;
}

.profile-description-container {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	flex-grow: 1;
	padding: 1rem;
	background-color: var(--background-secondary);
	line-height: 1.5rem;
}

.profile-icon {
	font-size: 1rem;
}

.username {
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
}

.user-role {
	font-size: 0.87rem;
	color: var(--font-color-gray);
	margin-bottom: 0.1rem;
}

.user-description {
	font-size: 0.87rem;
	margin-bottom: 0.2rem;
}

.contact-container {
	display: flex;
	gap: 0.3rem;
	font-size: 1.2rem;
}

.brand-icon:hover {
	cursor: pointer;
	color: var(--icon-hover);
}
