.search-bar {
	flex-grow: 1;
	height: 2.0rem;
	border-radius: 2rem;
	padding: 0 1.2rem;
	background-color: var(--background-search-bar);
	border: none;
	border: 2px solid var(--background-search-bar);
	transition: background-color 400ms;
	display: flex;
	align-items: center;
}

.search-bar:focus-within {
	background-color: transparent;
}

.search-icon {
	font-size: 1.1rem;
}

.search-bar-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.search-text {
	font-weight: 700;
	font-size: 1.25rem;
	margin: 1rem 0.2rem 0.5rem 0.2rem;
}

.send-search {
	font-size: 1.2rem;	
}

.send-search:hover {
	color: var(--search-icon-hover);
	cursor: pointer;
}
